<h1>Planes</h1>
<% @plane.each do |plane| %>
  <div>
  <!-- <a href="/child_table_name/:id">Gate: <%= plane.id %></a>-->
  <p> <%= plane.id %> <a href='/planes/1'> <%= plane.destination %></a> </p>

<% end %>
