<h1>Passengers</h1>
<% @passenger.each do |passenger| %>
  <div>
  <p>  <%= link_to "#{passenger.name}", "/passengers/#{passenger.id}" %> </p>
<% end %>
<h3> <%= link_to "Return to Home Page", "/" %> </h3>
